@import 'lib/project', 'lib/mixins' , 'lib/smart-grid';
@include normalize();
@include font-face();

body {
  // background-image: url('../img/bg-header.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 1200px;
  box-sizing: border-box;
  color: $c-blue-text;
  font-family: 'Akrobat';
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  min-width: 1100px;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

main {
  margin-top: -90px;
  overflow: hidden;
  position: relative;
}

.container {
  @include wrapper();
  max-width: 1400px;
  min-width: 1100px;
}

.wrapper,
.footer {
  @include row-flex();
}

.header {
  background: linear-gradient(to left, $c-blue-grad 50%, $c-red-grad 0);
  color: $c-white;
  overflow: hidden;
  padding-top: 185px;
  transform: translateY(-120px) skewY(4deg);

  .bg-header {
    background-image: url('../img/bg-header.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 750px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 120px 0;
    transform: skewY(-4deg) scale(1.2);

    .container {
      margin-top: -50px;
      transform: scale(.83333333333);
    }
  }

  &-top {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }


  &-contacts {
    margin-left: auto;
    margin-right: 30px;
  }

  &-phone {
    color: $c-white;
    cursor: default;
    font-size: 35px;
    font-weight: 600;
    line-height: 1;
    margin-left: -.5em;
    text-decoration: none;

    p {
      font-size: 20px;
      font-weight: normal;
      margin: 0;
      margin-top: 5px;
    }
  }

  &-address {
    font-size: 18px;
    margin-top: 20px;

    a {
      color: $c-white;
    }

    p {
      margin: 0;
    }
  }

  .h1 {

    @include col-6();
    color: $c-white;
    line-height: 1.2;
    margin-bottom: 50px;
    margin-right: auto;
    margin-top: 50px;

    &::before {
      background-color: $c-white;
    }
  }
}

.h1 {
  color: $c-blue-text;
  font-size: 57px;
  line-height: 1.2;
  margin: 0;
  margin-top: 70px;
  position: relative;

  &::before {
    background-color: $c-blue-text;
    content: '';
    height: 8px;
    left: 0;
    position: absolute;
    right: 0;
    top: -10px;
  }
}

.column {
  @include col();
  @include col-6();

  &.right-column {
    margin-left: auto;
    margin-top: -300px;
  }
}

.left-column p {
  margin-right: -10px;
}

.btn {
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  color: $c-white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Akrobat';
  font-size: 22px;
  margin: 10px auto 0;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;

  .btn-bg {
    fill: $c-white;
    fill-opacity: 0;
    transition-duration: .2s;
  }

  &:hover .btn-bg {
    fill-opacity: .151;
  }

  &:focus {
    .btn-bg {
      fill-opacity: 0;
    }

    .letters {
      fill: $c-white;
    }
  }

  &:active {
    .btn-bg {
      fill-opacity: 1;
    }

    .letters {
      fill: $c-blue-text;
    }
  }
}

.features {
  margin-bottom: 150px;
  padding: 0;
  position: relative;

  &::before {
    border-right: 1px dashed $c-blue-text;
    bottom: 50px;
    content: '';
    left: 30px;
    position: absolute;
    top: 40px;
    width: 0;
  }

  &-item {
    list-style: none;
    margin-top: 70px;
    padding-left: 90px;
    position: relative;

    &::before {
      background-image: url('../img/02.svg');
      content: '';
      height: 62px;
      left: 0;
      position: absolute;
      top: -.5em;
      width: 62px;
    }

    &:first-of-type::before {
      background-image: url('../img/01.svg');
    }

    &:last-of-type::before {
      background-image: url('../img/03.svg');
    }

  }
}

.logos {
  @include col-12();
  @include col();
  align-content: space-between;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 750px;
  margin-top: -100px;
  position: relative;

  img {
    align-self: center;
    margin: 45px 0;
  }
}


.form-wrapper {
  background-image: linear-gradient(62deg, $c-red-grad, $c-raspberry-grad, $c-blue-grad);
  box-shadow: 0 7px 12px $c-shadow;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin-bottom: -75px;
  margin-top: 150px;
  padding: 60px 25%;
  width: 100%;
  z-index: 1;

  fieldset {
    border: 0;
    color: $c-white;
    margin: 0;
    outline: none;
    padding: 0;
    text-align: center;

    p {
      font-size: 24px;
    }
  }

  legend {
    display: block;
    width: 100%;

    h3 {
      font-size: 57px;
      font-weight: 800;
    }
  }

  label {
    box-sizing: border-box;
    display: block;
    margin-bottom: 10px;
    text-align: left;
  }

  input {
    box-sizing: border-box;
    font-family: 'Akrobat', Arial, sans-serif;
    margin-bottom: 20px;
    padding: 10px 15px;
    width: 100%;

    &:focus {
      border-color: $c-raspberry-grad;
    }
  }

  .btn {
    display: block;
    width: auto;
  }
}

.shop {
  background-image: url('../img/bg-shop.jpg');
  background-size: cover;

  &-info {
    @include col();
    @include col-6();
    color: $c-white;
    margin-bottom: 70px;
    margin-top: 250px;

  }

  .h1 {
    color: $c-white;
    margin-bottom: 115px;
    margin-top: 0;

    &::before {
      background-color: $c-white;
    }
  }

  p {
    background-position: left;
    background-repeat: no-repeat;
    margin: 0;
    padding: 10px 0;
    padding-left: 60px;

    &:first-of-type {
      background-image: url('../img/clock.svg');
    }

    &:last-of-type {
      background-image: url('../img/visa.svg');
    }
  }
}


.map {
  iframe {
    width: 100%;
  }
}

.footer {
  justify-content: space-between;
  padding-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;

  &-item {
    color: $c-blue-text;
    margin-top: 120px;
    position: relative;

    &:first-of-type::before {
      background: url('../img/logo_color.png') no-repeat center;
      content: '';
      height: 29px;
      left: 0;
      position: absolute;
      top: -55px;
      width: 120px;
    }

    &:last-of-type::before {
      background: url('../img/cwr.svg') no-repeat center;
      content: '';
      height: 49px;
      left: -60px;
      position: absolute;
      top: 13px;
      width: 49px;
    }



    a,
    p {
      color: $c-blue-text;
      margin: 0;
    }
  }
}

.tel-link {
  cursor: default;
  text-decoration: none;
}


.parts {
  align-content: space-between;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 550px;
  list-style: none;
  padding: 0;

  li {
    font-size: 18px;
    margin-bottom: 1em;
    position: relative;
    width: 40%;

    &::before {
      content: '—';
      left: -1.5em;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.stuff {
  background-image: url('../img/stuff.png');
  background-size: cover;
  height: 650px;
  left: 50%;
  position: absolute;
  top: 0;
  transition-duration: .3s;
  transition-timing-function: ease-out;
  width: 1270px;
}

.truck {
  background-image: url('../img/truck.png');
  height: 780px;
  position: absolute;
  right: 55%;
  top: 110%;
  transition-duration: .3s;
  transition-timing-function: ease-out;
  width: 1152px;
}

h3 {
  font-size: 39px;
  line-height: 1.3;
}
