@import 'lib/project', 'lib/mixins' , 'lib/smart-grid';
@include normalize();
@include font-face();

body {
  
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}


.container {
  @include wrapper();
  background-color: red;
  height: 100vh;
}
